/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

@font-face {
    font-family: "Inter", sans-serif;
    src: url('fonts/static/Inter-Regular.ttf');
    src: url('fonts/static/Inter-Bold.ttf');
}

body {
    margin: 0;
    user-select: none;
    font-family: "Inter", sans-serif;
    background: #e2e2e2;
    overflow-x: hidden;
}

.contact-section {
    display: flex;
    align-items: center;
    height: 100vh;
}

.contact-book {
    width: 456px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contact-book::-webkit-scrollbar {
    width: 8px;
}

.contact-book::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
}

.contact-book::-webkit-scrollbar-track {
    background-color: #fff;
}

.contact-book::-webkit-scrollbar-thumb {
    border-radius: 20px;
    height: 53px;
}


.add-new-contact-btn {
    background: #2A3647;
    border-radius: 10px;
    width: 352px;
    height: 56px;
    padding: 12px 0;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
}

.add-person-icon {
    height: 32px;
    width: 32px;
    object-fit: contain;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.contact-view-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 32px;
}

.contact-view-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 30px;
    min-width: 569px;
    height: 73px;
}

.contact-view-title {
    font-size: 61px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

.contact-view-separator-bar {
    display: block;
    background: #29ABE2;
    height: 59px;
    width: 3px;
}

.contact-view-subtitle {
    font-size: 27px;
    font-weight: 400;
}

.contact-view-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    min-width: 461px;
    height: 364px;
    gap: 21px;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.contact-view-name-container {
    display: flex;
    align-items: center;
    gap: 54px;
    min-width: 461px;
    height: 120px;
}

.contact-view-badge-container {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    color: #fff;
    font-weight: 500;
}

.contact-view-edit-delete-container {
    min-width: 287px;
    height: 88px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-view-name {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 47px;
    font-weight: 500;
}

.contact-view-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 159px;
    height: 24px;
}

.contact-view-edit-container {
    display: flex;
    align-items: center;
    gap: 13px;
    width: 62px;
    height: 24px;
    cursor: pointer;
}

.contact-view-delete-container {
    display: flex;
    align-items: center;
    width: 81px;
    height: 24px;
    gap: 8px;
    cursor: pointer;
}

.contact-information-title {
    font-size: 20px;
    font-weight: 400;
}

.contact-view-information-container {
    min-height: 128px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-view-email-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 53px;
    min-width: 140px;
}

.contact-view-email-title {
    font-size: 16px;
    font-weight: 700;
}

.contact-view-email {
    text-decoration: none;
    color: #29ABE2;
    font-size: 16px;
    font-weight: 400;
}

.contact-view-phone-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 53px;
    min-width: 140px;
}

.contact-view-phone-title {
    font-size: 16px;
    font-weight: 700;
}

.contact-view-phone {
    font-size: 16px;
    font-weight: 400;
}

.succesfulButtonContainer {
    background: #2A3647;
    color: #fff;
    width: 326px;
    height: 74px;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer;
    margin-top: 72px;
    font-size: 20px;
    font-weight: 400;
}

.translateSuccButton {
    transform: translateX(1200px);
}

.letter-container {
    width: 352px;
    min-height: 58px;
    padding: 17px 36px;
    display: flex;
    flex-direction: column;
}

.contact-letter {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 20px;
    font-weight: 400;
}

.contact-list-separator-bar-container {
    width: 352px;
    padding: 8px 0;
}

.contact-list-separator-bar {
    display: inline-block;
    background: #D1D1D1;
    width: 352px;
    height: 1.6px;
}



.cont {
    display: flex;
    flex-direction: column;
}

.under-container {
    display: flex;
    align-items: center;
    gap: 35px;
    width: 352px;
    padding: 15px 24px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.black-container {
    background: #2A3647;
}

.contact-badge-bg-container {
    background: #E2E2E2;
    padding: 2px;
    border-radius: 45px;

}

.contact-badge {
    height: 42px;
    width: 42px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.contact-list-name-and-email-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*---------------------------------- add contacts from dialog --------------------------------------------*/
.contact-bg-dialog {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.301);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2
}

.contact-dialog {
    height: 592px;
    width: 1212px;
    display: flex;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}

.contacts-left-container {
    width: 40%;
    background: #2A3647;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-and-title-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-dialog-logo {
    height: 66.48px;
    width: 55.6px;
    object-fit: cover;
    cursor: pointer;
}

.add-contact-title {
    color: #fff;
    font-size: 61px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

.add-contact-subtitle {
    color: #fff;
    font-size: 27px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.border-bar {
    display: block;
    width: 90px;
    height: 3px;
    border-radius: 3px;
    background: #29ABE2;
}

.contact-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 60%;
    background: #fff;
    border-radius: 0 20px 20px 0
}


.input-and-btn-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cross-icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cross-icon {
    height: 33px;
    width: 33px;
    object-fit: contain;
    cursor: pointer;
}

.person-icon-container {
    background: #D1D1D1;
    border-radius: 70px;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs-container {
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.input-name {
    background: url(/assets/img/person-icon.png) no-repeat scroll 7px 7px;
    background-position: center;
    background-position-x: calc(100% - 12px);
    height: 50px;
    width: 422px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 16px;
}

.input-email {
    background: url(/assets/img/mail-icon.png) no-repeat scroll 7px 7px;
    background-position: center;
    background-position-x: calc(100% - 12px);
    height: 50px;
    width: 422px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    padding: 16px;
}

.input-phone {
    background: url(/assets/img/phone-icon.png) no-repeat scroll 7px 7px;
    background-position: center;
    background-position-x: calc(100% - 12px);
    height: 50px;
    width: 422px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    padding: 16px;
}

.contact-btn-container {
    width: 364px;
    display: flex;
    gap: 24px;
}

.add-contact-btn1 {
    height: 56px;
    width: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: #fff;
    border-radius: 10px;
    color: #2A3647;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 16px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.add-contact-btn1:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;

}

.cross-icon-btn1 {
    height: 24px;
    width: 24px;
    object-fit: contain;
    cursor: pointer;
}

.add-contact-btn1:hover .cross-icon-btn1 path {
    stroke: #29ABE2 !important;
}

.add-contact-btn2 {
    height: 57px;
    width: 214px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: #2A3647;
    border-radius: 10px;
    color: #fff;
    padding: 16px;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.add-contact-btn2:hover {
    background-color: #29ABE2;
    border: none;
}

.check-icon-btn2 {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

/*-----------------contact list---------------*/
.contact {
    display: flex;
    align-items: center;
    gap: 35px;
    width: 352px;
    height: 78px;
    border-radius: 10px;
    padding: 15px 24px;
    border: 1px solid red;
}

.profil-badge {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.first-name-letters {
    font-size: 12px;
    font-weight: 400;
}

.contact-name-email-container {
    display: flex;
    flex-direction: column;
}

/* Edit Contacts Pop-up Style */
.edit-contact-badge-container {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    color: #fff;
    font-weight: 500;
}

.edit-contact-title {
    color: #fff;
    font-size: 61px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* @media (max-width: 428px) {
    .contact-section {
        width: 428px;
        height: 766px;
        display: block;
    }

    .contact-book {
        width: 100%;
    }

    .contact-view-section {
        display: none;
    }
} */





/* Helpers */
.text-white {
    color: #fff;
}

.d-none {
    display: none;
}

.translateX {
    transform: translateX(1000px);
}