body {
  margin: 0;
  user-select: none;
  font-family: "Inter", sans-serif;
  background: #ececec;
  overflow-x: hidden;
}

.contact-section {
  display: flex;
  flex: 1;
  height: 100vh;
  overflow-y: hidden;
}

.contact-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
}


.contact-book::-webkit-scrollbar {
  width: 24px;
}

.contact-book::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 8px solid #fff;
  background-color: #a8a8a8;
}

.contact-book::-webkit-scrollbar-track {
  background-color: #fff;
}

.contact-book::-webkit-scrollbar-button {
  width: 100vw;
  color: #a8a8a8;
}



.add-new-contact-btn {
  background: #2a3647;
  border-radius: 10px;
  width: 352px;
  height: 38px;
  padding: 12px 0;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: 700;
}

.add-new-contact-btn:hover {
  background-color: #29abe2 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

h1.contact-view-title {
  font-weight: 800;
  font-size: 61px;
}

.add-person-icon {
  height: 32px;
  width: 32px;
  object-fit: contain;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-view-section {
  display: flex;
  flex-direction: column;
  padding: 32px;
  overflow: hidden;
}

.contact-view-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 30px;
  height: 73px;
}

.contact-view-title {
  font-size: 61px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

.contact-view-separator-bar {
  display: block;
  background: #29abe2;
  height: 59px;
  width: 3px;
}

.contact-view-subtitle {
  font-size: 27px;
  font-weight: 400;
}

.contact-view-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  flex: 1;
}

.contact-view-name-container {
  display: flex;
  align-items: center;
  gap: 24px;
  min-width: 461px;
  height: 120px;
}

.contact-view-badge-container {
  width: 120px;
  height: 120px;
  border-radius: 70px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  color: #fff;
  font-weight: 500;
}

.contact-view-edit-delete-container {
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.contact-view-name {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 40px;
  font-weight: 500;
}

.contact-view-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  gap: 16px;
  height: 24px;
}

.contact-view-edit-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 12px;
  height: 24px;
  cursor: pointer;
}

.edit {
  font-size: 20px;
}

.contact-view-edit-container:hover .edit {
  color: #29abe2;
}

.contact-view-edit-container:hover .pencil-edit path {
  fill: #29abe2 !important;
}

.delete {
  font-size: 20px;
}

.contact-view-delete-container:hover .trashbin-edit path {
  fill: #29abe2 !important;
}

.contact-view-delete-container:hover .delete {
  color: #29abe2;
}

.contact-view-delete-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 12px;
  height: 24px;
  cursor: pointer;
}

.contact-information-title {
  font-size: 20px;
  font-weight: 400;
}

.contact-view-information-container {
  min-height: 128px;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.contact-view-email-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 53px;
}

.contact-view-email-title {
  font-size: 16px;
  font-weight: 700;
}

.contact-view-email {
  text-decoration: none;
  color: #29abe2;
  font-size: 16px;
  font-weight: 400;
}

.contact-view-phone-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 53px;
}

.contact-view-phone-title {
  font-size: 16px;
  font-weight: 700;
}

.contact-view-phone {
  font-size: 16px;
  font-weight: 400;
}

.successfulButtonContainer {
  width: 100%;
}

.successfulButton {
  background: #2a3647;
  color: #fff;
  width: 326px;
  height: 74px;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
  margin-top: 72px;
  font-size: 20px;
  font-weight: 400;
}

@media (min-width: 1051px) {
  .translateSuccButton {
    transform: translateX(1200px);
  }
}

.letter-container {
  min-height: 58px;
  padding: 17px 36px;
  display: flex;
  flex-direction: column;
}

.contact-letter {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
  font-weight: 400;
}

.contact-list-separator-bar-container {
  padding: 8px 0;
}

.contact-list-separator-bar {
  display: inline-block;
  background: #d1d1d1;
  width: 100%;
  height: 1.6px;
}

.cont {
  display: flex;
  flex-direction: column;
}

.under-container {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 15px 24px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.under-container:hover {
  background-color: #00000031;
}

.black-container {
  background: #2a3647;
}

.contact-badge-bg-container {
  background: #e2e2e2;
  padding: 2px;
  border-radius: 45px;
}

.contact-badge {
  height: 42px;
  width: 42px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.contact-list-name-and-email-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-list-name {
  color: #000;
  font-size: 20px;
}

.contact-list-email {
  color: #29abe2;
  font-size: 16px;
}

.contact-bg-dialog {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1004;
  overflow: hidden;
}

.contact-dialog {
  height: 592px;
  width: 1212px;
  display: flex;
  border: 1px solid #ffffff00;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.contacts-left-container {
  width: 40%;
  background: #2a3647;
  border-radius: 20px 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.logo-and-title-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-dialog-logo {
  height: 66.48px;
  width: 55.6px;
  object-fit: cover;
  cursor: pointer;
}

.add-contact-title {
  color: #fff;
  font-size: 61px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

.add-contact-subtitle {
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

.border-bar {
  display: block;
  width: 90px;
  height: 3px;
  border-radius: 3px;
  background: #29abe2;
}

.contact-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 60%;
  background: #fff;
  border-radius: 0 20px 20px 0;
  box-sizing: border-box;
}

.input-and-btn-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cross-icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 48px;
  right: 32px;
  border-radius: 50px;
  box-sizing: border-box;
}

.cross-icon-container:hover {
  background: #eee;
}

.cross-icon {
  height: 33px;
  width: 33px;
  object-fit: contain;
  cursor: pointer;
}

.person-icon-container {
  background: #d1d1d1;
  border-radius: 70px;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-icon {
  height: 64px;
  width: 64px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.input-name {
  background: url(../assets/img/person-icon.png) no-repeat scroll 7px 7px;
  background-position: center;
  background-position-x: calc(100% - 12px);
  height: 30px;
  width: 422px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 16px 38px 16px 16px;
  outline: none !important;
}

.input-email {
  background: url(../assets/img/mail-icon.png) no-repeat scroll 7px 7px;
  background-position: center;
  background-position-x: calc(100% - 12px);
  height: 30px;
  width: 422px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none !important;
  padding: 16px 38px 16px 16px;
}

.input-phone {
  background: url(../assets/img/phone-icon.png) no-repeat scroll 7px 7px;
  background-position: center;
  background-position-x: calc(100% - 12px);
  height: 30px;
  width: 422px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none !important;
  padding: 16px 38px 16px 16px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-btn-container {
  width: 364px;
  display: flex;
  gap: 24px;
  box-sizing: border-box;
}

.add-contact-btn1 {
  height: 56px;
  width: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #fff;
  border-radius: 10px;
  color: #2a3647;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 16px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}

.add-contact-btn1:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
}

.cross-icon-btn1 {
  height: 24px;
  width: 24px;
  object-fit: contain;
  cursor: pointer;
}

.add-contact-btn1:hover .cross-icon-btn1 path {
  stroke: #29abe2 !important;
}

.edit-contact-btn1 {
  height: 56px;
  width: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #fff;
  border-radius: 10px;
  color: #2a3647;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 16px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}

.edit-contact-btn1:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
}

.edit-contact-btn1:hover .cross-icon-btn1 path {
  stroke: #29abe2 !important;
}

.add-contact-btn2 {
  height: 57px;
  width: 214px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #2a3647;
  border-radius: 10px;
  color: #fff;
  padding: 16px;
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.add-contact-btn2:hover {
  background-color: #29abe2;
  border: none;
}

.check-icon-btn2 {
  height: 24px;
  width: 24px;
  object-fit: contain;
}

.contact {
  display: flex;
  align-items: center;
  gap: 35px;
  width: 352px;
  height: 78px;
  border-radius: 10px;
  padding: 15px 24px;
  border: 1px solid red;
}

.profil-badge {
  width: 42px;
  height: 42px;
  border-radius: 45px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.first-name-letters {
  font-size: 12px;
  font-weight: 400;
}

.contact-name-email-container {
  display: flex;
  flex-direction: column;
}

.edit-contact-badge-container {
  width: 120px;
  height: 120px;
  border-radius: 70px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  color: #fff;
  font-weight: 500;
}

.initialsLetters {
  font-size: 47px;
}

.edit-contact-title {
  color: #fff;
  font-size: 61px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media (max-width: 1250px) {
  .contact-book {
    padding: 32px 12px;
  }

  .letter-container {
    padding: 8px 18px;
  }

  .under-container {
    gap: 18px;
    padding: 15px 12px;
  }

  .contact-view-section {
    padding: 32px 12px;
  }

  .contact-view-title-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    height: auto;
  }

  .contact-view-title {
    font-size: 40px;
  }

  .contact-view-subtitle {
    font-size: 20px;
  }

  .contact-view-separator-bar {
    display: none;
  }

  .contact-view-separator-bar-mobile {
    display: block;
    background: #29abe2;
    width: 90px;
    height: 3px;
  }

  .contact-view-name-container {
    min-width: auto;
    gap: 27px;
  }

  .contact-view-email-container {
    min-width: auto;
  }

  .contact-view-badge-container {
    width: 80px;
    height: 80px;
    font-size: 28px;
  }

  .contact-view-name {
    font-size: 28px;
  }

  .contact-view-information-container {
    width: 100%;
  }

  .contact-dialog {
    width: 980px;
  }

  .cross-icon-container {
    top: 48px;
    right: 38px;
  }

  .add-contact-title {
    font-size: 48px;
  }

  .add-contact-subtitle {
    font-size: 24px;
  }

  .contact-right-container {
    gap: 24px;
    padding: 8px;
  }

  .person-icon-container {
    width: 90px;
    height: 90px;
  }

  .edit-contact-badge-container {
    width: 90px;
    height: 90px;
  }

  .initialsLetters {
    font-size: 38px;
  }

  .input-name,
  .input-email,
  .input-phone {
    width: auto;
  }
}

@media (min-width: 1051px) {
  .translateContactDialogPopUp {
    transform: translateX(300%);
  }

  .arrow-left-line {
    display: none;
  }


  .three-vertical-dots-container {
    display: none;
  }

  .desktop-d-none {
    display: none;
  }
}

@media (max-width: 1050px) {
  .translateContactDialogPopUp {
    transform: translateY(300%);
  }

  .contact-book {
    width: 100%;
  }

  .add-new-contact-btn {
    width: 352px;
  }

  .add-new-contact-btn-mobile {
    position: fixed;
    bottom: 100px;
    right: 28px;
    height: 56px;
    width: 56px;
    border-radius: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a3647;
  }

  .add-new-contact-btn-mobile:hover {
    background: #29abe2 !important;
    cursor: pointer;
  }

  .contact-view-section {
    width: 100%;
  }

  .contact-view-icons-container {
    position: fixed;
    bottom: 90px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: auto;
    width: auto;
    background: #fff;
    padding: 16px;
    border-radius: 20px 20px 0 20px;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
  }

  .arrow-left-line {
    position: absolute;
    top: 128px;
    right: 20px;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }

  .three-vertical-dots-container {
    position: fixed;
    bottom: 100px;
    right: 28px;
    height: 56px;
    width: 56px;
    border-radius: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a3647;
    cursor: pointer;
  }

  .three-vertical-dots-container:hover {
    background: #29abe2;
    cursor: pointer;
  }

  .translateXPopUpEditDelete {
    transform: translateX(170px);
  }

  .contact-dialog {
    width: 80%;
    height: 75%;
    flex-direction: column;
    position: relative;
  }

  .contacts-left-container {
    width: 100%;
    height: 45%;
    justify-content: flex-start;
    padding: 66px 24px;
    border-radius: 20px 20px 0 0;
  }

  .contact-right-container {
    width: 100%;
    min-height: auto;
    flex-direction: column;
    align-items: flex-start;
    align-items: none;
    border-radius: 0 0 20px 20px;
    flex: 1;
    padding: 32px 24px;
    box-sizing: border-box;
  }

  .mobile-badge-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -84px;
  }

  .person-icon-container {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
  }

  .input-and-btn-container {
    width: 100%;
  }

  .input-name {
    width: auto;
  }

  .input-email {
    width: auto;
  }

  .input-phone {
    width: auto;
  }

  .contact-dialog-logo-container {
    display: none;
  }

  .cross-icon-container {
    position: absolute;
    top: 48px;
    right: 24px;
    z-index: 5;
  }

  .cross-icon-container:hover {
    background: #29abe2;
  }

  .cross-icon path {
    stroke: #fff !important;
  }

  .contact-btn-container {
    width: 100%;
    justify-content: center;
  }

  .contact-view-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    flex: 1;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .add-contact-btn1 {
    display: none;
  }

  .add-contact-btn2 {
    font-size: 18px;
  }

  .edit-contact-badge-container {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
  }

  .successfulButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 1;
  }

  .successfulButton {
    margin-top: 0;
    height: 38px;
  }

  .translateSuccButton {
    transform: translateY(300px);
  }

  .mobile-d-none {
    display: none;
  }
}

@media (max-width: 800px) {
  .contact-book {
    padding: 109px 12px;
  }
}

@media (max-width: 430px) {
  .contact-dialog {
    height: auto;
  }

  .person-icon {
    height: 48px;
    width: 48px;
  }

  .contacts-left-container {
    padding: 31px 24px;
  }

  .logo-and-title-container {
    margin-bottom: 32px;
  }

  .cross-icon-container {
    top: 13px;
    right: 12px;
  }

  .contact-right-container {
    padding: 32px 24px;
  }

  .person-icon-container {
    width: 80px;
    height: 80px;
  }

  .add-contact-title {
    font-size: 28px;
  }

  .add-contact-subtitle {
    font-size: 18px;
  }

  .edit-contact-title {
    font-size: 40px;
  }

  .contact-btn-container {
    gap: 12px;
    padding: 8px;
  }

  .edit-contact-btn1 {
    width: auto;
  }

  .add-contact-btn2 {
    width: auto;
  }

  .mobile-badge-container {
    margin-top: -73px;
  }

  .initialsLetters {
    font-size: 24px;
  }

  .edit-contact-badge-container {
    width: 80px;
    height: 80px;
  }

  .inputs-container {
    gap: 20px;
  }

  .input-name,
  .input-email,
  .input-phone {
    height: 20px;
  }

  .input-name,
  .input-email,
  .input-phone::placeholder {
    font-size: 15px;
  }

  .successfulButtonContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    height: 85px;
    overflow-y: hidden;
  }

  .successfulButton {
    margin-top: 0;
    width: 100%;
    height: 50px;
  }
}

.d-none {
  display: none;
}

.translateX {
  transform: translateX(1000px);
}