@font-face {
  font-family: "Inter";
  font-weight: 100;
  src: url("../assets/fonts/Inter-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  src: url("../assets/fonts/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("../assets/fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("../assets/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../assets/fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url("../assets/fonts/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("../assets/fonts/Inter-Black.ttf") format("truetype");
}

html,
body {
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
  background-color: #fcfcfc;
  user-select: none;
}

h3 {
  font-weight: 600;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

ol {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.board-sections>div {
  flex: 1;
  max-width: 252px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.toDo-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.in-progress-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.await-feedback-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.done-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.no-margin {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.blue-btn {
  background-color: #2a3647;
  color: white;
  padding: 12px 16px 12px 16px;
  border-radius: 10px;
  font-size: 21px;
  border-width: 0px;
  font-weight: 600;
  cursor: pointer;
}

.blue-btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.transparent-btn {
  background-color: transparent;
  color: #2a3647;
  font-weight: 700;
  border: 1px #2a3647 solid;
  padding: 16px;
  border-radius: 10px;
  font-size: 21px;
  line-height: 25.2px;
  cursor: pointer;
}

.blue-btn-normal:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.transparent-btn:hover {
  color: #29abe2;
  border: 1px #29abe2 solid;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.white-btn {
  background-color: white;
  border-radius: 10px;
  padding: 14px;
  font-size: 21px;
  font-weight: 600;
  color: #2a3647;
  border: 1px solid #2a3647;
  cursor: pointer;
}

.white-btn:hover {
  color: #29abe2;
  border: 1px solid #29abe2;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.arrow {
  transition: transform 0.2s;
  position: absolute;
}

.arrow:hover {
  transform: scale(1.1);
  background-color: rgb(228, 227, 227);
  border-radius: 50%;
}

.legal-text-container {
  padding: 20px 50px 50px;
  max-width: 1300px;
}

.legal-site-arrow {
  position: fixed;
  top: 225px;
  right: 40px;
  z-index: 999;
}

.blue-text {
  color: #29abe2;
}

.legal-headline {
  font-size: 61px;
  font-weight: 800;
  margin-block-start: 0px;
}

.red-urgent-icon {
  background-color: #ff3d00;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.menu-popup {
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: #2a3647;
  border-radius: 20px 0px 20px 20px;
  position: fixed;
  top: 100px;
  right: 20px;
  padding-inline: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
  height: 158px;
  gap: 10px;
  z-index: 1000;
}

.menu-popup {
  flex-direction: column;
  justify-content: center;
  background-color: #2a3647;
  border-radius: 20px 0px 20px 20px;
  position: absolute;
  top: 100px;
  right: 20px;
  padding-inline: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
  height: 158px;
  gap: 10px;
}

.popup-links {
  font-size: 16px;
  font-weight: 200px;
  color: white;
  text-decoration: none;
}

.popup-links-div {
  padding: 10px;
}

.popup-links-div:hover {
  background-color: #1a478641;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #fff;
  color: #000;
  padding: 12px 16px 12px 16px;
  padding-right: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  line-height: 24px;
  position: relative;
}

.dropdown-ctrl {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  z-index: 4;
  /* Stellt sicher, dass dies über den Pfeilen liegt */
  pointer-events: auto;
  /* Stellt sicher, dass dieses Element auf Events reagieren kann */
}

.arrowDown,
.arrowUp {
  pointer-events: none;
  /* Lässt Click-Events durch die Pfeile hindurch */
}

.arrow-dropdown-down {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-image: url("../assets/img/arrow_drop_down.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
  cursor: pointer;
}

.arrow-dropdown-up {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  background-image: url("../assets/img/arrow_drop_down.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
  cursor: pointer;
  transform: translate(-50%, -50%) rotate(180deg);
}

.icon-background-down {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

.icon-background-up {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

.dropdown-ctrl:hover .icon-background-down {
  background-color: #d1d1d1;
  opacity: 0.5;
}

.dropdown-ctrl:hover .icon-background-up {
  background-color: #d2e3ff;
  opacity: 0.5;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-content a:hover {
  background-color: #eeeeee;
}

#title-error-msg,
#duedate-error-msg,
#dropdown-categories-error-msg {
  font-size: 12px;
  color: #ff8190;
  font-weight: 400;
  line-height: 14.4px;
}

.input-area-custom {
  position: relative;
  display: inline-block;
}

.subtask-ctrl {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.subtask-ctrl:hover .icon-background-down {
  background-color: #d1d1d1;
  opacity: 0.5;
}

.cross-dropdown-down {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  background-image: url("../assets/img/add.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
  cursor: pointer;
}

.dropdown-content-assign::-webkit-scrollbar {
  width: 8px;
}

.dropdown-content-assign::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown-content-assign::-webkit-scrollbar-thumb {
  background: #888;
}

.dropdown-content-assign::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown-content-assign {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.message-animation {
  position: absolute;
  color: white;
  padding: 0px 25px 0px 25px;
  background-color: #2a3647;
  border-radius: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  animation: floathingMessage 0.7s linear;
  animation-fill-mode: forwards;
}

.message-animation-background {
  position: absolute;
  display: flex;
  background-color: #00000067;
  height: 100%;
  width: 100%;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  top: 0;
}

.message-animation-background.no-background {
  background-color: transparent;
}

.prx_expandableWrapper {
  width: 700px;
  z-index: 1000;
}

.prx_wrapper {
  margin-left: 0px;
  margin-right: 0px;
}

.privacy-container {
  padding: 0px 50px;
}

.linkToAddTaskMobile {
  display: none;
}

.board-sectors-mobile {
  display: none !important;
}

.board-sectors-mobile svg {
  width: 30px;
  height: 30px;
}

.d-none {
  display: none;
}

@keyframes floathingMessage {
  0% {
    bottom: 0;
    opacity: 0;
  }

  100% {
    bottom: 66%;
    opacity: 1;
  }
}

/* --- MIN WIDHT: Anpassungen --- */

/* Große Desktops — 1440px */
@media (min-width: 1440px) {
  /* Anpassungen für große Desktops */

  .board-header {
    justify-content: space-between;
    width: 1100px;
  }
}

@media (min-width: 1024px) {
  .dialog-container-card-to-move {
    display: none;
  }

  /* --- MAX WIDHT: Anpassungen --- */

  /* Desktops — 1280px */
  @media (max-width: 1280px) {

    /* Anpassungen für Desktop-Ansichten */
    .board-header {
      flex-direction: column;
    }

    .board-header-left {
      width: 100%;
    }

    .board-header h1 {
      margin-block-end: 30px;
    }

    .board-header-right {
      margin-bottom: 30px;
      width: 100%;
    }

    .board-search-input {
      display: flex;
      position: relative;
      padding-left: 0px;
    }
  }

  .move-icon-container {
    display: none;
  }
}

@media (max-width: 600px) {
  .prx_expandableWrapper {
    width: 400px;
  }
}

@media (max-width: 485px) {
  .prx_expandableWrapper {
    width: 300px;
  }

  .legal-text-container-noUser {
    padding: 120px 20px 52px 20px;
  }

  section#board-content {
    padding: 10px 30px 10px 40px;
  }
}

/* Tablets (Landscape) / Kleinere Desktops — 1024px */
@media (max-width: 1024px) {

  /* Anpassungen für Tablets in Landscape und kleinere Desktops */
  .board-search-input input {
    width: 320px;
  }

  .board-sector {
    display: none;
  }

  .board-sectors-mobile {
    display: flex !important;
  }

  .prx_expandableWrapper {
    width: 500px;
  }

  .board-header {
    flex-direction: column;
    align-items: start;
  }

  .board-sections {
    flex-direction: column;
    gap: 20px;
  }

  .toDo-container {
    flex-direction: row;
    gap: 20px;
  }

  .in-progress-container {
    flex-direction: row;
    gap: 20px;
  }

  .await-feedback-container {
    flex-direction: row;
    gap: 20px;
  }

  .done-container {
    flex-direction: row;
    gap: 20px;
  }

  .board-card {
    min-width: 220px;
  }

  .board-card {
    z-index: 0;
  }

  #titleToHide0 {
    display: none;
  }

  #titleToHide1 {
    display: none;
  }

  #titleToHide2 {
    display: none;
  }

  #titleToHide3 {
    display: none;
  }

  .board-section-title-mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    font-weight: 800;
  }

  section#board-content {
    padding: 10px 30px 10px 80px;
    background-color: #f0f0f0;
    flex: 1;
    overflow-x: hidden;
  }

  .dialog-container-card-to-move {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popUp-choice {
    position: relative;
    height: auto;
    width: 50%;
    max-width: 400px;
    min-width: 300px;
    padding: 16px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .translatePopUpChoice {
    transform: translateY(200%);
  }

  .cross-icon-choice-container {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .popUp-choice-title {
    font-size: 21px;
    font-weight: 900;
    text-align: center;
    color: #2a3647;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 32px 0 8px 0;
  }

  .choice {
    border: 2px solid #29abe2;
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    color: #2a3647;
  }

  .board-sections>div {
    flex: 1;
    max-width: 750px;
    overflow-x: scroll;
  }

  .board-section-1::-webkit-scrollbar {
    display: none;
  }

  .board-section-2::-webkit-scrollbar {
    display: none;
  }

  .board-section-3::-webkit-scrollbar {
    display: none;
  }

  .board-section-4::-webkit-scrollbar {
    display: none;
  }

  .board-sections>div {
    border-radius: 0px;
  }
}

@media (max-width: 930px) {
  .index-contents {
    display: flex;
    flex-direction: column;
  }

  .blue-join-logo {
    display: flex;
    height: 60px;
    padding: 10px;
  }

  .nav-text {
    margin-left: 0px;
  }

  .legal-headline {
    font-size: 47px;
  }

  .navbar-nouser {
    display: none;
  }

  .navbar-links {
    padding: 0px 10px;
    border-radius: 16px;
  }

  .navbar {
    width: 100%;
    height: 80px;
    background-color: #2a3647;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    margin-top: auto;
  }

  .content-container {
    top: 0;
    left: 0;
    width: 100%;
  }

  .join-logo-small {
    display: none;
  }

  .legal-section {
    display: none;
  }

  .nav-links-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
  }

  .nav-link-div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    padding: 8px 0;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
  }

  .board-text {
    padding-right: 0px;
  }

  .nav-links-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    align-items: center;
    height: 100%;
  }

  .header-headline {
    display: none;
  }

  .join-logo-mobile {
    display: flex;
    height: 70px;
    padding: 20px;
  }

  .user-name-capitalized {
    font-size: 20px !important;
  }

  .linkToAddTaskMobile {
    display: flex;
  }

  .prx_expandableWrapper {
    width: 400px;
  }

  .board-header {
    padding: 100px 30px 15px 0px;
  }

  .board-header h1,
  #addtask-content h1 {
    font-size: 51px;
    margin-block-start: 20px;
    margin-block-end: 20px;
  }

  .board-add-task button {
    display: none;
  }

  .add-task-mobile {
    display: flex;
  }

  .board-header-left {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .legal-text-container-noUser {
    padding: 120px 85px 52px 85px;
  }

  /* .addtask-action-btns {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px 10px 16px;
    background-color: #f0f0f0;
    margin: 81px 0px;
  } */

  section#addtask-content {
    padding: 80px 16px 10px 16px;
  }

  .board-search-input input {
    width: 400px;
  }
}

/* Tablets (Portrait) — 768px */
@media (max-width: 768px) {
  /* Anpassungen für Tablets in Portrait-Ausrichtung */

  .board-header-wrapper {
    padding: 10px 20px 10px 20px;
    width: 100%;
  }

  .board-header-right {
    margin-bottom: 0px !important;
  }

  #board-content {
    padding: 10px 20px 10px 20px !important;
  }

  .board-sections>div {
    margin-right: 0px !important;
  }

  .board-header {
    padding-right: 40px;
  }
}

@media (max-width: 700px) {
  .board-search-input input {
    width: 100%;
    box-sizing: border-box;
  }

  .board-search-field {
    flex-grow: 1;
  }

  .board-search-input {
    width: 100%;
  }

  .board-header-right {
    gap: 0px;
  }

  #board-content h1,
  #addtask-content h1 {
    font-weight: 700;
    font-size: 56px;
  }

  section#addtask-content {
    padding: 100px 16px 10px 16px;
  }

  .addtask-form {
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .right-section {
    margin-top: 24px;
  }

  #addtask-content label {
    font-size: 18px;
    font-weight: 500;
  }

  #addtask-content input,
  textarea,
  button,
  select,
  input {
    font-size: 18px;
  }

  .addtask-info-mobile {
    display: flex;
    align-items: center;
  }

  #clear-button {
    display: none;
  }

  .wrapper-flex-container {
    min-height: 100px;
  }

  .subtasks-container {
    min-height: 250px;
  }

  .subtasks-container::-webkit-scrollbar {
    display: none;
  }

  .scrollable-area {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollable-area::-webkit-scrollbar {
    display: none;
  }

  .dropbtn {
    font-size: 18px;
  }

  .message-animation-background {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
  }

  .toDo-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .in-progress-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .await-feedback-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .done-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .highlight {
    border: 1px dashed rgba(0, 0, 0, 0.3);
  }

  .add-task-mobile {
    display: none;
  }

  .board-section-title-mobile {
    display: none;
  }

  .board-page {
    overflow: hidden;
  }

  .legal-text-container-noUser {
    padding: 120px 85px 52px 266px;
    max-width: 1300px;
    width: 100%;
  }
}

/* Kleinere Smartphones (Landscape) — 480px */
@media (max-width: 500px) {
  /* Anpassungen für kleinere Smartphones */

  .modal-content-tasks {
    width: calc(525px - 160px);
  }
}

@media (max-width: 430px) {
  .join-logo-mobile {
    display: flex;
    height: 45px;
    padding: 20px;
  }

  .task-details-main-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .legal-headline {
    font-size: 37px;
  }

  .blue-join-logo {
    display: flex;
    height: 39px;
    padding: 20px;
  }

  .user-name-capitalized {
    font-size: 15px !important;
  }

  .nav-links-container {
    gap: 20px;
    justify-content: center;
  }

  .nav-link-div {
    width: 65px;
  }

  .navbar-links {
    padding: 2px;
    border-radius: 16px;
  }

  .user-icon {
    height: 40px;
    width: 40px;
  }

  .navbar-icon {
    height: 22px;
  }

  .nav-text {
    font-size: 14px;
    margin-left: 0px;
  }

  .privacy-container {
    padding: 50px 20px;
  }

  .prx_h1 {
    font-size: 20px !important;
  }

  .prx_expandableWrapper {
    width: 250px;
  }

  section#board-content {
    padding: 10px 30px 10px 20px;
  }

  .board-header h1,
  #addtask-content h1 {
    font-size: 41px;
    margin-block-start: 15px;
    margin-block-end: 15px;
  }

  .board-search-input input {
    width: 290px;
  }

  .modal-content-tasks {
    max-width: 299px;
    height: auto;
  }

  .addTask-content {
    overflow-x: hidden;
  }

  .task-detail-headline {
    font-size: 30px;
  }
}

@media (max-width: 375px) {
  .legal-text-container-noUser {
    padding: 120px 20px 52px 9px;
  }

  section#board-content {
    padding: 10px 30px 10px 20px;
  }

  .board-header h1,
  #addtask-content h1 {
    font-size: 38px;
    margin-block-start: 10px;
    margin-block-end: 10px;
  }

  .board-search-input input {
    width: 235px;
  }

  .board-search-input input {
    height: 40px;
  }

  .divider-img {
    top: 4px;
  }

  .board-card {
    min-width: 190px;
  }

  .modal-content-tasks {
    max-width: 300px;

    height: auto;
  }

  .task-detail-headline {
    font-size: 26px;
  }
}

@media (max-width: 350px) {
  .nav-links-container {
    gap: 10px;
    justify-content: center;
  }
}

/* Sehr kleine Smartphones — 320px */
/* Anpassungen speziell für sehr kleine Smartphone-Bildschirme */
@media (max-width: 330px) {
  .board-search-input input {
    width: 187px;
  }

  .privacy-container {
    padding: 50px 10px;
  }

  .prx_expandableWrapper {
    width: 240px;
  }

  .modal-content-tasks {
    max-width: 300px;
    padding: 10px 10px;
  }

  .task-detail-description,
  .detail-assignees,
  .detail-subtasks,
  .task-detail,
  .detail-assignee-na {
    font-size: 15px;
  }

  .task-detail-headline {
    font-size: 25px;
  }

  .detail-subtask-name {
    margin-left: 12px;
    font-size: 12px;
  }
}

.d-none {
  display: none;
}