.summary-container{
    display: flex;
    flex-direction: column;
}

.summary-headline{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 0 50px;
}

.vert-blue-line{
    background-color: #29ABE2;
    height: 59px;
    width: 3px;
    border-radius: 1px;
}

.summary-headline-bold{
    font-size: 61px;
    font-weight: 800;
}

.summary-headline-normal{
    font-size: 21px;
    font-weight: 400;
}

.tasks-summary-section{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 580px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.welcome-section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.summary-main-content{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.summary-icon-circle{
    background-color: #2A3647;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-task-display-mid{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 168px;
    border-radius: 30px;
    gap: 18px;
    cursor: pointer;
    transition: transform .2s;
}

.summary-task-display-long{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 168px;
    border-radius: 30px;
    gap: 61px;
    cursor: pointer;
    transition: transform .2s;
}

.gray-vert-line{
    height: 102px;
    width: 3px;
    border-radius: 2px;
    background-color: #D1D1D1;
}

.tasks-number{
    font-size: 64px;
    font-weight: 600;
}

.summary-text{
    font-size: 20px;
    font-weight: 400;
}

.daytime-text{
    font-size: 47px;
    font-weight: 500;
}

.user-name-text{
    font-size: 64px;
    font-weight: 800;
    color: #29ABE2;
}

.urgency-div{
    display: flex;
    align-items: center;
    gap: 18px;
}

.summary-task-display-small{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    border-radius: 30px;
    gap: 13px;
    text-align: center;
    cursor: pointer;
    transition: transform .2s;
}

.summary-text-bigger{
    font-size: 21px;
    font-weight: 400;
}

.summary-task-display-small:hover{
    background-color: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
    transform: scale(1.05);

    .tasks-number{
        color: white;
    }

    .summary-text-bigger{
        color: white;
    }

    
}

.summary-task-display-mid:hover{
    background-color: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
    transform: scale(1.05);

    .tasks-number{
        color: white;
    }

    .summary-text{
        color: white;
    }

    .summary-icon-circle{
        background-color: white;
    }
}

.summary-task-display-long:hover{
    background-color: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
    transform: scale(1.05);

    .tasks-number{
        color: white;
    }

    .summary-text{
        color: white;
    }

    .summary-icon-circle{
        background-color: white;
    }

    .deadline-div{
        color: white;
    }
}

.text-center{
    text-align: center;
}

.user-name-capitalized{
    font-size: 25px;
    color: #29ABE2;
}