.navbar {
  width: 232px;
  height: 100vh;
  background-color: #2a3647;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar-links {
  color: white;
  text-decoration: none;
  width: 100%;
}

.join-logo-small {
  padding: 100px 0;
}

.nav-link-div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 8px 0;
}

.nav-link-div:hover {
  background-color: #09193150;
}

.navbar-icon {
  object-fit: contain;
}

.nav-links-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.legal-links {
  color: #a8a8a8;
  text-decoration: none;
}

.legal-links:hover {
  color: #29abe2;
  font-weight: bold;
}

.legal-section {
  display: flex;
  flex-direction: column;
  padding-top: 260px;
  gap: 20px;
}

main {
  display: flex;
  flex-direction: row;
}

.user-icon {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-icon:hover {
  background-color: rgb(199, 199, 199);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1560px;
  align-items: center;
  padding: 0 64px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  height: 96px;
}

.wrapper-container {
  display: flex;
  flex-direction: column;
}

.user-help-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.header-headline {
  font-size: 20px;
  font-weight: 400;
}

.nav-text {
  font-size: 16px;
  font-weight: 400;
}

.board-text {
  padding-right: 20px;
}

.help-icon {
  transition: transform 0.2s;
}

.help-icon:hover {
  transform: scale(1.1);
}

.legal-section-nouser {
  display: flex;
  flex-direction: column;
  padding-top: 490px;
  gap: 20px;
}

.required:after {
  content: "*";
  color: #ff8190;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
  border: 2px solid #29abe2;
  outline: none;
}

section {
  padding: 0px 80px 10px 80px;
}

/* Add Task Template */

/* !!! Label --> Könnte man auslagern!!!*/
#addtask-content label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  gap: 4px;
}

.label-text {
  padding-bottom: 4px;
}

.custom-select {
  -webkit-appearance: none; /* Entfernt den Standard-Stil in WebKit-Browsern */
  -moz-appearance: none; /* Entfernt den Standard-Stil in Firefox */
  appearance: none; /* Entfernt den Standard-Stil in modernen Browsern */
  background-image: url("../assets/img/arrow_drop_down.png"); /* Ihr benutzerdefiniertes Pfeil-Icon */
  background-position: right 20px center; /* Position des Hintergrundbildes */
  background-repeat: no-repeat;

  /* Weitere Stilisierungen (Padding, Border usw.) */
}

.custom-input {
  background-image: url("../assets/img/add.png");
  background-position: right 20px center;
  background-repeat: no-repeat;
}

/* !!! Input --> Könnte man auslagern!!!*/
#addtask-content input,
textarea,
button,
select {
  border: #d1d1d1 1px solid;
  border-radius: 10px;
  padding: 12px 21px 12px 21px;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

textarea {
  height: 141px; /* Starthöhe */
  resize: both;
  overflow: auto;
}

#addtask-content h1 {
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.addtask-prio-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.addtask-prio-btn button {
  padding: 16px;
  border-radius: 8px;
  border: solid 1px #eaebec;
  background-color: white;
  box-sizing: border-box;
  flex-grow: 1;
}

.addtask-buttons:hover .icon {
  filter: brightness(0) invert(1);
}

.addtask-custom-label {
  margin-bottom: -28px;
}

#addtask-prio-urgent:hover {
  background-color: #ff3d00;
  color: #fff;
  border-color: #ff3d00;
  font-weight: bold;
  box-shadow: 0px 5px 4px 0px #bcbdbe;
  cursor: pointer;
}

#addtask-prio-medium:hover {
  background-color: #ffa800;
  color: #fff;
  border-color: #ffa800;
  font-weight: bold;
  box-shadow: 0px 5px 4px 0px #bcbdbe;
  cursor: pointer;
}

#addtask-prio-low:hover {
  background-color: #7ae229;
  color: #fff;
  border-color: #7ae229;
  font-weight: bold;
  box-shadow: 0px 5px 4px 0px #bcbdbe;
  cursor: pointer;
}

.addtask-buttons.is-active {
  background-color: #ff3d00; /* Rote Hintergrundfarbe */
  color: #ffffff; /* Weiße Textfarbe */
  box-shadow: none;
}

.addtask-prio-btn img {
  width: 20px;
  height: 14.51px;
  margin-left: 8px;
}

.addtask-form {
  display: flex;
  justify-content: space-around;
}

.form-section {
  display: flex;
  flex-direction: column;
  flex: 1; /* Jede Sektion nimmt gleich viel Platz ein */
  gap: 32px;
}

.divider {
  width: 1px;
  background-color: #d1d1d1;
  margin: 0 20px;
}
