
body{
    margin: 0px;
}

.navbar{
    width: 232px;
    height: 100vh;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.navbar-links{
    color: white;
    text-decoration: none;
}

.join-logo-small{
    padding: 100px 0;
}