<div class="header">
    <p class="header-headline">Kanban Project Management Tool</p>
    <img class="join-logo-mobile" src="./assets/img/logo-small-blue.png" alt="">
    <div class="user-help-div">
        <a class="help-icon" onclick="generateHelpContent(); closeMenu();"><img src="./assets/img/help-icon.png"
                alt=""></a>
        <div id="user-button" onclick="showMenu()" class="user-icon">
            <h1 class="user-name-capitalized" id="user-name-capitalized">GU</h1>
        </div>
    </div>
</div>