<aside class="navbar">
    <img class="join-logo-small" src="/assets/img/logo-small.png" alt="">
    <div>
        <a class="navbar-links" href=""><img src="/assets/img/summary-icon.png" alt="">Summary</a>
    </div>
    <div>
        <a class="navbar-links" href=""><img src="/assets/img/addtask-icon.png" alt="">Add Task</a>
    </div>
    <div>
        <a class="navbar-links" href=""><img src="/assets/img/board-icon.png" alt="">Board</a>
    </div>
    <div>
        <a class="navbar-links" href=""><img src="/assets/img/contacts-icon.png" alt="">Contacts</a>
    </div>

    <div>
        <a href="">Privacy Policy</a>
        <a href="">Legal Notice</a> 
    </div>
</aside>