<div class="navbar">
    <img class="join-logo-small" src="/assets/img/logo-small-white.png" alt="">

    
<div class="nav-links-container">
    <a id="summary-nav" onclick="generateSummaryContent()" class="navbar-links">
        <div class="nav-link-div">
            <img class="navbar-icon" src="/assets/img/summary-icon.png" alt="">
            <p class="nav-text">Summary</p>
        </div>
    </a>

    <a onclick="generateAddTaskContent()" class="navbar-links">
        <div class="nav-link-div">
            <img class="navbar-icon" src="/assets/img/addtask-icon.png" alt="">
            <p class="nav-text">Add Task</p>
        </div>
    </a>

    <a class="navbar-links">
        <div class="nav-link-div">
            <img class="navbar-icon" src="/assets/img/board-icon.png" alt="">
            <p class="nav-text board-text">Board</p>
        </div>
    </a>

    <a onclick="generateContactsContent()" class="navbar-links">
        <div class="nav-link-div">
            <img class="navbar-icon" src="/assets/img/contacts-icon.png" alt="">
            <p class="nav-text">Contacts</p>
        </div>
    </a>
</div>

    <div class="legal-section">
        <a class="legal-links" onclick="generateLegalNoticeContent()">Privacy Policy</a>
        <a class="legal-links" onclick="generatePrivacyPolicyContent()">Legal Notice</a>
    </div>
</div>