<img class="join-logo-small" src="./assets/img/logo-small-white.png" alt="Board Logo">

<!-- onclick="generateSummaryContent()" -->
<div class="nav-links-container">
    <a href="index.html" id="summary-nav" class="navbar-links">
        <div class="nav-link-div" id="summary-nav">
            <div class="nav-icon-pos">
                <img width="30px" height="30px" class="navbar-icon" src="./assets/img/summary-icon.png"
                    alt="Summary Icon">
            </div>
            <p class="nav-text">Summary</p>
        </div>
    </a>
    <!-- onclick="generateAddTaskContent()" -->
    <a href="addtask.html" id="addTask-nav" class="navbar-links">
        <div class="nav-link-div">
            <div class="nav-icon-pos">
                <img width="30px" height="30px" class="navbar-icon" src="./assets/img/addtask-icon.png"
                    alt="AddTask Icon">
            </div>
            <p class="nav-text">Add Task</p>
        </div>
    </a>

    <a href="board.html" id="board-nav" class="navbar-links">
        <div class="nav-link-div">
            <div class="nav-icon-pos">
                <img width="30px" height="30px" class="navbar-icon" src="./assets/img/board-icon.png" alt="Board Icon">
            </div>
            <p class="nav-text board-text">Board</p>
        </div>
    </a>
    <!-- onclick="generateContactsContent()"" -->
    <a href="addcontacts.html" id="contacts-nav" class="navbar-links">
        <div class="nav-link-div">
            <div class="nav-icon-pos">
                <img width="30px" height="30px" class="navbar-icon" src="./assets/img/contacts-icon.png"
                    alt="Contacts Icon">
            </div>
            <p class="nav-text">Contacts</p>
        </div>
    </a>
</div>

<div class="legal-section">
    <a class="legal-links" onclick="generateLegalNoticeContent()">Privacy Policy</a>
    <a class="legal-links" onclick="generatePrivacyPolicyContent()">Legal Notice</a>
</div>